@import "./include-media";

$desat-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grey-red: hsl(0, 6%, 24%);
$grad-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$grad-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

@mixin header-letter {
    letter-spacing: 0.3em;
    font-size: 48px;
    text-transform: uppercase;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url("/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 16px;
}

html,
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

div.main-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20vh 80vh;
    grid-template-areas:
        "icon right"
        "left right";

    &>div.icon {
        grid-area: icon;
        display: flex;
        align-items: center;
        justify-content: center;

        &>div {
            width: 400px;
        }
    }

    &>div.left {
        grid-area: left;

        div.login-container {
            width: 400px;
            height: 100vh;
            margin-right: auto;
            margin-left: auto;

            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;

            &>img {
                margin-top: 10vh;
            }

            &>div.header-1 {
                margin-top: 12vh;
                color: $desat-red;
                font-weight: 200;
                @include header-letter();
            }

            &>div.header-2 {
                @include header-letter();
                font-weight: 600;
                color: $dark-grey-red;
            }

            &>div.desc {
                color: $desat-red;
                margin-top: 2em;
            }

            &>div.email {
                margin-top: 2em;
                width: 100%;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;

                input {
                    line-height: 3;
                    border-radius: 20px;
                    width: 1%;
                    flex: 1 1 auto;
                    padding-left: 20px;
                    padding-right: 60px;
                    border: 1px solid $desat-red;
                    color: $desat-red;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                div {
                    margin-left: -15px;

                    button {
                        height: 100%;
                        width: 80px;
                        border-radius: 20px;
                        background-image: $grad-2;
                        background-color: $soft-red;
                        border: 0;
                        color: #fff;
                        cursor: pointer;
                        box-shadow: 3px 10px 30px -5px $dark-grey-red;
                    }

                    button.invalid {
                        background-image: $grad-1;
                    }
                }

                i {
                    position: absolute;
                    top: 1em;
                    right: 100px;
                    color: $soft-red;
                    display: none;
                }
            }

            &>div.error-msg {
                display: none;
                color: $soft-red;
                padding-left: 20px;
                padding-top: 5px;
                font-size: small;
            }
        }
    }

    &>div.right {
        grid-area: right;

        img {
            height: 100vh;
            width: 100%;
        }

    }
}

@include media("<400px") {

    html,
    body {
        height: unset;
        overflow: auto;

        div.main-container {
            grid-template-columns: 80vh;
            grid-template-rows: auto;
            grid-template-areas: "icon"
                "right"
                "left";
            justify-content: center;

            &>div.icon {
                grid-area: icon;

                img {
                    margin: 5vh 0 5vh 5vw;
                }
            }

            &>div.right {
                grid-area: right;

                img {
                    height: 30vh;
                    margin-left: 10vw;
                }
            }

            &>div.left {
                grid-area: left;

                div.login-container {
                    min-width: 375px;
                    width: 375px;
                    align-items: center;

                    &>div.desc,
                    &>div.email {
                        margin-left: 10vw;
                        margin-right: 10vw;
                        text-align: center;
                    }
                }
            }
        }
    }

}